*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
}

.container {
  margin: 0 auto;
  max-width: 1130px;
  width: 100%;
  padding: 0 10px;
}

@font-face {
  font-family: 'Gilroy';
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("/fonts/Gilroy-Medium.woff2") format("woff2"), url("/fonts/Gilroy-Medium.woff") format("woff"), url("/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("/fonts/Gilroy-Regular.woff2") format("woff2"), url("/fonts/Gilroy-Regular.woff") format("woff"), url("/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto';
  src: local("Noto Serif Bold"), local("Noto-Serif-Bold"), url("/fonts/NotoSerif-Bold.woff2") format("woff2"), url("/fonts/NotoSerif-Bold.woff") format("woff"), url("/fonts/NotoSerif-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.header {
  padding: 25px 0;
  background-color: rgba(51, 51, 51, 0.2);
}

.header.catalog {
  background-color: #333333;
}

.header__container {
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__menu--item {
  font-family: 'Gilroy';
  font-weight: 400;
  line-height: 150%;
  color: #fff;
  padding: .5rem 1em;
  font-size: calc(10px + 4 * ((100vw - 320px) / 1600));
  -webkit-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
}

.header__menu--item:hover {
  background-color: #333333;
  -webkit-box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.8);
          box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.8);
}

.header__menu--item + .header__menu--item {
  margin-left: 20px;
}

.header__logo--img {
  height: 100%;
  width: 100%;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__social--item {
  font-family: 'Gilroy';
  font-weight: 400;
  line-height: 150%;
  color: #fff;
  background-color: transparent;
  padding: .5rem 1em;
  cursor: pointer;
  font-size: calc(10px + 4 * ((100vw - 320px) / 1600));
}

.header__social--item + .header__social--item {
  margin-left: 20px;
}

.burger__menu {
  display: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.burger__menu--line {
  display: block;
  height: 4px;
  width: 20px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.burger__menu--line::before {
  display: block;
  content: '';
  height: 4px;
  width: 33px;
  border-radius: 2px;
  background-color: #fff;
  margin-top: -10px;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.burger__menu--line::after {
  display: block;
  content: '';
  height: 4px;
  width: 33px;
  border-radius: 2px;
  background-color: #fff;
  margin-top: 16px;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.burger__menu--line.activ {
  width: 0;
}

.burger__menu--line.activ::before {
  margin-top: 0;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.burger__menu--line.activ::after {
  margin-top: -4px;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

.home {
  margin-top: -98px;
  height: calc(100vh + 21px);
  width: 100%;
  background: #333333 url("/img/bg_home.png") center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.home__link {
  margin: 0 auto;
  display: block;
  border: 1px solid #fff;
  background-color: #333333;
  padding: .8em 2em;
  margin-bottom: 4.4em;
  font-family: 'Gilory';
  font-weight: 500;
  font-size: calc(12px + 6 * ((100vw - 320px) / 1600));
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
}

.home__link:hover {
  -webkit-box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.8);
          box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.8);
  color: #333333;
  background-color: #fff;
  border: 1px solid #333333;
}

.home__title {
  text-align: center;
  font-family: 'Nano';
  font-weight: 700;
  font-size: calc(36px + 0 * ((100vw - 320px) / 1600));
  color: #fff;
  margin-bottom: 1em;
}

.home__brends {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #fff;
}

.home__brends--item {
  max-width: 160px;
  padding: 0 15px;
}

.home__brends--item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
}

.home__brends--item img:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.home__brends--item + .home__brends--item {
  border-left: 1px solid #fff;
}

.title {
  font-family: 'Gilroy';
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  font-size: calc(14px + 7 * ((100vw - 320px) / 1600));
}

.subtitle {
  font-family: 'Nano';
  font-weight: 700;
  text-align: center;
  font-size: calc(18px + 12 * ((100vw - 320px) / 1600));
}

.decoration {
  padding: 6.25em 0 7.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.decoration__subtitle {
  margin-top: .5em;
}

.decoration__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 3.75em;
}

.decoration__menu--item {
  height: 55px;
  width: 165px;
  background-color: #fff;
  border: 1px solid #D6D6D6;
  cursor: pointer;
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: calc(12px + 6 * ((100vw - 320px) / 1600));
}

.decoration__card {
  margin-top: 3.3em;
  margin-right: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.decoration__card--item {
  min-width: 250px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(33.333% - 60px);
          flex: 1 1 calc(33.333% - 60px);
  height: 280px;
  background-color: #414141;
  position: relative;
  margin: 0 30px 30px 0;
  -webkit-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
}

.decoration__card--item:hover {
  -webkit-box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.8);
          box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.8);
}

.decoration__card--img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.decoration__card--title {
  width: 50%;
  position: absolute;
  bottom: 30px;
  left: 25%;
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: calc(14px + 10 * ((100vw - 320px) / 1600));
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.salons {
  padding: 6.5em 0 6.5em 0;
  background: #000 url("/img/BG_salons.png") center/cover no-repeat;
}

.salons__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.salons__title {
  color: #fff;
}

.salons__subtitle {
  color: #fff;
  margin-top: .5em;
}

.salons__text {
  margin-top: 2.5em;
  color: #fff;
  font-family: 'Gilroy';
  font-weight: 400;
  font-size: calc(10px + 8 * ((100vw - 320px) / 1600));
  max-width: 65%;
  text-align: center;
}

.salons__link {
  margin-top: 4.1em;
  background-color: #fff;
  border: 1px solid #333333;
  padding: .8em 1.8em;
  color: #000;
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: calc(10px + 8 * ((100vw - 320px) / 1600));
  text-transform: uppercase;
}

.blog {
  padding: 7.5em 0 4em 0;
}

.blog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__subtitle {
  margin-top: .8em;
}

.blog__cards {
  margin: 3.3em -30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog__cards--item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(33.333% - 60px);
          flex: 1 0 calc(33.333% - 60px);
  background-color: #333333;
  margin-right: 30px;
  max-width: 350px;
  max-height: 370px;
  min-height: 230px;
  position: relative;
  -webkit-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
}

.blog__cards--item:hover {
  -webkit-box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.8);
          box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.8);
}

.blog__cards--img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog__cards--title {
  position: absolute;
  bottom: 35px;
  left: 20%;
  width: 60%;
  font-size: calc(14px + 7 * ((100vw - 320px) / 1600));
  font-family: 'Gilroy';
  font-weight: 400;
  color: #fff;
  text-align: center;
}

.blog__link {
  margin-top: 4.1em;
  padding: .8em 1.8em;
  background-color: #333333;
  border: 1px solid transparent;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  font-family: 'Gilroy';
  font-size: calc(10px + 8 * ((100vw - 320px) / 1600));
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

.blog__link:hover {
  -webkit-box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.8);
          box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.8);
  color: #333333;
  background-color: #fff;
  border: 1px solid #333333;
}

.social {
  padding: 4em 0 9.3em;
}

.social__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social__subtitle {
  margin-top: .5em;
}

.social__cards {
  margin-top: 3.75em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social__cards--item {
  max-height: 300px;
}

.social__cards--item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.catalog {
  background-color: #F9F9F9;
}

.catalog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 10px 0 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog .filter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog .filter__item {
  border-bottom: 1px solid #D6D6D6;
  font-family: 'Gilroy';
  font-size: calc(10px + 8 * ((100vw - 320px) / 1600));
  font-weight: 500;
  padding-bottom: 10px;
  background: transparent;
  background: url("/img/arrow_select.png") center/center no-repeat;
}

.catalog__cards {
  padding: 3.75em 0;
  margin: 0 -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__cards--item {
  max-width: 350px;
  padding: 2.1em;
  -webkit-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
  margin: 5px;
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__cards--item:hover {
  -webkit-box-shadow: 0px 5px 5px 5px rgba(50, 50, 50, 0.2);
          box-shadow: 0px 5px 5px 5px rgba(50, 50, 50, 0.2);
  background-color: #fff;
}

.catalog__cards + .catalog__cards {
  border-top: 1px solid #D6D6D6;
}

.catalog__cards.hidden {
  display: none;
}

.catalog__show-more {
  opacity: 1;
  overflow: visible;
  display: block;
  padding: .8em 1em;
  background-color: #333333;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  font-family: 'Gilroy';
  font-size: calc(14px + 4 * ((100vw - 320px) / 1600));
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
}

.catalog__show-more:hover {
  -webkit-box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.8);
          box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.8);
  background-color: #D6D6D6;
  color: #000;
  border: 1px solid #333333;
}

.catalog__show-more.hidden {
  display: none;
}

.cards__img {
  max-width: 280px;
}

.cards__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards__title {
  margin-top: 1.5em;
  font-family: 'Gilroy';
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  font-weight: 500;
}

.cards__name {
  margin-top: 0.6em;
  font-family: 'Gilroy';
  font-size: calc(16px + 8 * ((100vw - 320px) / 1600));
  font-weight: 600;
}

.cards__price {
  padding: 10px 20px;
  margin-top: 1.56em;
  background-color: #333333;
  border: 1px solid transparent;
  position: static;
  bottom: 0;
  left: 40%;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  font-family: 'Gilroy';
  font-size: calc(10px + 6 * ((100vw - 320px) / 1600));
  font-weight: 500;
  color: #fff;
}

.cards__price:hover {
  -webkit-box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.8);
          box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.8);
  background-color: #D6D6D6;
  color: #000;
  border: 1px solid #333333;
}

.subscribe {
  padding: 6.5em 0 6.5em 0;
  width: 100%;
  height: 100%;
  background: #000 url("/img/BG_salons.png") center/cover no-repeat;
}

.subscribe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__title {
  color: #fff;
}

.subscribe__subtitle {
  color: #fff;
  margin-top: .5em;
}

.subscribe__content {
  width: 100%;
  margin-top: 3.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.subscribe__content form {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.3em 1.3em;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
  font-family: 'Gilroy';
  font-weight: 500;
}

.subscribe__content form input {
  width: 200px;
  padding: 1em 1.3em;
  margin-right: 1em;
  text-transform: uppercase;
  border: 1px solid #b4b2b2;
}

.subscribe__content form button {
  background-color: #333333;
  padding: 1em 2.3em;
  cursor: pointer;
  text-transform: uppercase;
}

.subscribe__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-right: 6em;
}

.subscribe__btn {
  margin: 0 0 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  font-size: calc(14px + 4 * ((100vw - 320px) / 1600));
  font-family: 'Gilroy';
  font-weight: 400;
  color: #fff;
}

.subscribe__btn--arrow {
  margin-right: 1.3em;
}

.footer {
  padding: 5em 0 1.25em 0;
}

.footer__content {
  margin-right: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #333333;
}

.footer__item {
  margin: 1em 1.875em 0 0;
  min-width: 165px;
  max-width: 33.333%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(25% - 90px);
          flex: 1 0 calc(25% - 90px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: calc(14px + 4 * ((100vw - 320px) / 1600));
  font-family: 'Gilroy';
  font-weight: 400;
}

.footer__item a {
  color: #000;
}

.footer__title {
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
  margin-bottom: 1.875em;
  font-size: calc(12px + 6 * ((100vw - 320px) / 1600));
  font-family: 'Gilroy';
  font-weight: 500;
  text-transform: uppercase;
}

.footer__link {
  margin-bottom: 1em;
}

.footer__link--tel {
  margin-bottom: 1em;
}

.footer__link--img {
  margin-right: 1.4em;
}

@media (max-width: 860px) {
  .header__menu {
    display: none;
  }
  .header__social {
    display: none;
  }
  .burger__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home__brends {
    display: none;
  }
  .decoration,
  .salons,
  .blog,
  .social,
  .subscribe {
    padding: 2em 0;
  }
  .footer {
    padding-top: 2em;
  }
}

@media (max-width: 852px) {
  .social__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 763px) {
  .footer__item {
    margin: 1em .5em 0 0;
  }
}

@media (max-width: 729px) {
  .catalog__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 720px) {
  .blog__cards {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .blog__cards--item {
    margin: 0 0 1em 0;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    max-width: 280px;
    max-width: 300px;
  }
}

@media (max-width: 589px) {
  .blog__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 506px) {
  .footer__item {
    margin: 1em 0 0 0;
  }
}

@media (max-width: 480px) {
  .decoration__card--item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 1;
            flex: 1 1 1;
  }
}

@media (max-width: 320px) {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
