@import '_variables.scss', '_fonts.scss';
.header{
    margin-top: 25px;
    &__container{
        height: 52px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $darkgray;
    }
    &__menu{
        display: flex;
        justify-content: flex-start;
        &--item{
            font-family: 'Gilroy';
            font-weight: 400;
            line-height: 150%;
            color: #fff;
            padding: .5rem 1em;
            @include adaptiv-value(font-size, 14, 10 , 0);
            transition: all .2s ease 0s;
            &:hover{
                background-color: $darkgray;
                box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.8);
            }
            & + .header__menu--item{
                margin-left: 20px;
            }
        }
    }
    &__logo{
        &--img{
            height: 100%;
            width: 100%;
        }
    }
    &__social{
        display: flex;
        justify-content: flex-end;
        &--item{
            font-family: 'Gilroy';
            font-weight: 400;
            line-height: 150%;
            color: #fff;
            background-color: transparent;
            padding: .5rem 1em;
            cursor: pointer;
            @include adaptiv-value(font-size, 14, 10 , 0);
            & + .header__social--item{
                margin-left: 20px;
            }
        }
    }
}
.burger__menu{
    display: none;
    justify-content: flex-start;
    align-items: center;
    width: 35px;
    height: 35px;
    cursor: pointer;
    &--line{
        display: block;
        height: 4px;
        width: 20px;
        background-color: #fff;
        border-radius: 2px;
        transition: all .3s ease 0s;
        &::before{
            display: block;
            content: '';
            height: 4px;
            width: 33px;
            border-radius: 2px;
            background-color: #fff;
            margin-top: -10px;
            transition: all .3s ease 0s;
        }
        &::after{
            display: block;
            content: '';
            height: 4px;
            width: 33px;
            border-radius: 2px;
            background-color: #fff;
            margin-top: 16px;
            transition: all .3s ease 0s;
        }
        &.activ{
            width: 0;
            &::before{
                margin-top: 0;
                transform: rotateZ(45deg);
            }
            &::after{
                margin-top: -4px;
                transform: rotateZ(-45deg);
            }
        }   
    }
}

// home Page
.home{
    margin-top: -98px;
    height: calc(100vh + 21px);
    width: 100%;
    background: url('/img/bg_home.png') center / cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &__link{
        margin: 0 auto;
        display: block;
        border: 1px solid #fff;
        background-color: $darkgray;
        padding: .8em 2em;
        margin-bottom: 4.4em;
        font-family: 'Gilory';
        font-weight: 500;
        @include adaptiv-value(font-size, 18, 12, 0);
        color: #fff;
        text-transform: uppercase;
        transition: all .2s ease 0s;
        &:hover{
            box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.8);
            color: $darkgray;
            background-color:#fff;
            border: 1px solid $darkgray;
        }
    }
    &__title{
        text-align: center;
        font-family: 'Nano';
        font-weight: 700;
        @include adaptiv-value(font-size, 36, 36, 0);
        color: #fff;
        margin-bottom: 1em;
    }
    &__brends{
        padding: 30px;
        display: flex;
        justify-content: center;
        border-top: 1px solid #fff;
        &--item{
            max-width: 160px;
            padding: 0 15px;
            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all .2s ease 0s;
                &:hover{
                    transform:translateY(-5px)
                }
            }
            & + .home__brends--item{
                border-left: 1px solid #fff;
            }
        }
    }
}

// page Decoration
.title{
    font-family: 'Gilroy';
    font-weight: 400;
    line-height: 140%;
    text-align: center;
}
.subtitle{
    font-family: 'Nano';
    font-weight: 700;
    text-align: center;
}
.decoration{
    padding: 6.25em 0 7.5em 0;
    display: flex;
    flex-direction: column;
    &__title{
        @include adaptiv-value(font-size, 21, 14, 0);
    } 
    &__subtitle{
        @include adaptiv-value(font-size, 30, 18, 0);
        margin-top: .5em;
    }
    &__menu{
        display: flex;
        justify-content: space-around;
        margin-top: 3.75em;
        &--item{
            height: 55px;
            width: 165px;
            background-color: #fff;
            border: 1px solid #D6D6D6;
            cursor: pointer;

            font-family: 'Gilroy';
            font-weight: 500;
            @include adaptiv-value(font-size, 18, 12, 0);
            // &::after{
            //     display: block;
            //     height: 55px;
            //     width: 165px;
            //     border: 1px solid #D6D6D6;
            //     content:'';
            //     position: absolute;
            //     top: 6;
            //     left: 5;
            // }
        }
        
    } 
    &__card{
        margin-top: 3.3em;
        margin-right: -30px;
        display: flex;
        flex-wrap: wrap;
        &--item{
            flex: 1 1 calc(33.333% - 60px);
            height: 280px;
            background-color: #414141;
            position: relative;
            margin: 0 30px 30px 0;
            transition: all .2s ease 0s;
            &:hover{
               box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.8); 
            }
        }
        &--img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &--title{
            width: 50%;
            position: absolute;
            bottom: 30px;
            left: 25%;

            font-family: 'Gilroy';
            font-weight: 500;
            @include adaptiv-value(font-size, 24, 14, 0);
            color: #fff;
            text-transform: uppercase;
            text-align: center;
        }
    }
}


@import '_media.scss';