@import '_variables.scss', '_fonts.scss';
.header{
    margin-top: 25px;
    &__container{
        height: 52px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $darkgray;
    }
    &__menu{
        display: flex;
        justify-content: flex-start;
        &--item{
            font-family: 'Gilroy';
            font-weight: 400;
            line-height: 150%;
            color: #fff;
            padding: .5rem 1em;
            @include adaptiv-value(font-size, 14, 10 , 0);
            transition: all .2s ease 0s;
            &:hover{
                background-color: $darkgray;
                box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.8);
            }
            & + .header__menu--item{
                margin-left: 20px;
            }
        }
    }
    &__logo{
        &--img{
            height: 100%;
            width: 100%;
        }
    }
    &__social{
        display: flex;
        justify-content: flex-end;
        &--item{
            font-family: 'Gilroy';
            font-weight: 400;
            line-height: 150%;
            color: #fff;
            background-color: transparent;
            padding: .5rem 1em;
            cursor: pointer;
            @include adaptiv-value(font-size, 14, 10 , 0);
            & + .header__social--item{
                margin-left: 20px;
            }
        }
    }
}
.burger__menu{
    display: none;
    justify-content: flex-start;
    align-items: center;
    width: 35px;
    height: 35px;
    cursor: pointer;
    &--line{
        display: block;
        height: 4px;
        width: 20px;
        background-color: #fff;
        border-radius: 2px;
        transition: all .3s ease 0s;
        &::before{
            display: block;
            content: '';
            height: 4px;
            width: 33px;
            border-radius: 2px;
            background-color: #fff;
            margin-top: -10px;
            transition: all .3s ease 0s;
        }
        &::after{
            display: block;
            content: '';
            height: 4px;
            width: 33px;
            border-radius: 2px;
            background-color: #fff;
            margin-top: 16px;
            transition: all .3s ease 0s;
        }
        &.activ{
            width: 0;
            &::before{
                margin-top: 0;
                transform: rotateZ(45deg);
            }
            &::after{
                margin-top: -4px;
                transform: rotateZ(-45deg);
            }
        }   
    }
}

// home Page
.home{
    margin-top: -98px;
    height: calc(100vh + 21px);
    width: 100%;
    background: $darkgray url('/img/bg_home.png') center / cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &__link{
        margin: 0 auto;
        display: block;
        border: 1px solid #fff;
        background-color: $darkgray;
        padding: .8em 2em;
        margin-bottom: 4.4em;
        font-family: 'Gilory';
        font-weight: 500;
        @include adaptiv-value(font-size, 18, 12, 0);
        color: #fff;
        text-transform: uppercase;
        transition: all .2s ease 0s;
        &:hover{
            box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.8);
            color: $darkgray;
            background-color:#fff;
            border: 1px solid $darkgray;
        }
    }
    &__title{
        text-align: center;
        font-family: 'Nano';
        font-weight: 700;
        @include adaptiv-value(font-size, 36, 36, 0);
        color: #fff;
        margin-bottom: 1em;
    }
    &__brends{
        padding: 30px;
        display: flex;
        justify-content: center;
        border-top: 1px solid #fff;
        &--item{
            max-width: 160px;
            padding: 0 15px;
            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all .2s ease 0s;
                &:hover{
                    transform:translateY(-5px)
                }
            }
            & + .home__brends--item{
                border-left: 1px solid #fff;
            }
        }
    }
}

// page Decoration
.title{
    font-family: 'Gilroy';
    font-weight: 400;
    line-height: 140%;
    text-align: center;
    @include adaptiv-value(font-size, 21, 14, 0);
}
.subtitle{
    font-family: 'Nano';
    font-weight: 700;
    text-align: center;
    @include adaptiv-value(font-size, 30, 18, 0);
}
.decoration{
    padding: 6.25em 0 7.5em 0;
    display: flex;
    flex-direction: column;
    &__subtitle{
        margin-top: .5em;
    }
    &__menu{
        display: flex;
        justify-content: space-around;
        margin-top: 3.75em;
        &--item{
            height: 55px;
            width: 165px;
            background-color: #fff;
            border: 1px solid #D6D6D6;
            cursor: pointer;

            font-family: 'Gilroy';
            font-weight: 500;
            @include adaptiv-value(font-size, 18, 12, 0);
            // &::after{
            //     display: block;
            //     height: 55px;
            //     width: 165px;
            //     border: 1px solid #D6D6D6;
            //     content:'';
            //     position: absolute;
            //     top: 6;
            //     left: 5;
            // }
        }
        
    } 
    &__card{
        margin-top: 3.3em;
        margin-right: -30px;
        display: flex;
        flex-wrap: wrap;
        &--item{
            min-width: 250px;
            flex: 1 1 calc(33.333% - 60px);
            height: 280px;
            background-color: #414141;
            position: relative;
            margin: 0 30px 30px 0;
            transition: all .2s ease 0s;
            &:hover{
               box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.8); 
            }
        }
        &--img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &--title{
            width: 50%;
            position: absolute;
            bottom: 30px;
            left: 25%;

            font-family: 'Gilroy';
            font-weight: 500;
            @include adaptiv-value(font-size, 24, 14, 0);
            color: #fff;
            text-transform: uppercase;
            text-align: center;
        }
    }
}

// page Salons
.salons{
    padding: 6.5em 0 6.5em 0;
    background: #000 url('/img/BG_salons.png') center / cover no-repeat;
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__title{
        color: #fff;
    }
    &__subtitle{
        color: #fff;
        margin-top: .5em;
    }
    &__text{
        margin-top: 2.5em;
        color:#fff;
        font-family: 'Gilroy';
        font-weight: 400;
        @include adaptiv-value(font-size, 18, 10 ,0);
        max-width: 65%;
        text-align: center;
    }
    &__link{
        margin-top: 4.1em;
        background-color: #fff;
        border: 1px solid #333333;
        padding: .8em 1.8em;
        color: #000;
        font-family: 'Gilroy';
        font-weight: 500;
        @include adaptiv-value(font-size, 18, 10 ,0);
        text-transform: uppercase;
    }
}

// page Blog
.blog{
    padding: 7.5em 0 4em 0;
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__subtitle{
        margin-top: .8em;
    }
    &__cards{
        margin: 3.3em -30px 0 0;
        display: flex;
        flex-wrap: wrap;
        &--item{
            flex: 1 0 calc(33.333% - 60px);
            background-color: $darkgray;
            margin-right: 30px;
            max-width: 350px;
            max-height: 370px;
            min-height: 230px;
            position: relative;
            transition: all .2s ease 0s;
            &:hover{
                box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.8);
            }
        }
        &--img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &--title{
            position: absolute;
            bottom: 35px;
            left: 20%;
            width: 60%;

            @include adaptiv-value(font-size, 21, 14, 0);
            font-family: 'Gilroy';
            font-weight: 400;
            color: #fff;
            text-align: center;
        }
    }
    &__link{
        margin-top: 4.1em;
        padding: .8em 1.8em;
        background-color: $darkgray;
        border: 1px solid transparent;
        transition: all .3s ease 0s;

        font-family: 'Gilroy';
        @include adaptiv-value(font-size, 18, 10 ,0);
        font-weight: 500;
        color: #fff;
        text-transform: uppercase;
        &:hover{
            box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.8);
            color: $darkgray;
            background-color:#fff;
            border: 1px solid $darkgray;
        }
    }
}

// page Social
.social{
    padding: 4em 0 9.3em;
    &__container{
        display: flex;
        flex-direction: column;
    }
    &__subtitle{
        margin-top: .5em; 
    }
    &__cards{
        margin-top: 3.75em;
        display: flex;
        flex-wrap: wrap;
        &--item{
            max-height: 300px;
            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

// page subscribe
.subscribe{
    padding: 6.5em 0 6.5em 0;
    width: 100%;
    height: 100%;
    background: #000 url('/img/BG_salons.png') center / cover no-repeat;
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        color:#fff;
    }
    &__subtitle{
        color: #fff;
        margin-top: .5em;
    }
    &__content{
        width: 100%;
        margin-top: 3.9em;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        & form{
            background-color: #fff;
            display: flex;
            align-items: center;
            padding: 1.3em 1.3em;

            @include adaptiv-value(font-size, 14, 12, 0);
            font-family: 'Gilroy';
            font-weight: 500;
            & input{
                width: 200px;
                padding: 1em 1.3em;
                margin-right: 1em;
                text-transform: uppercase;
                border: 1px solid #b4b2b2;
            }
            & button{
                background-color: $darkgray;
                padding: 1em 2.3em;
                cursor: pointer;
                text-transform: uppercase;
            }
        }
    }
    &__description{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 6em;
    }
    &__btn{
        margin: 0 0 1em 0;
        display: flex;
        align-items: center;
        background-color: transparent;
        
        @include adaptiv-value(font-size, 18, 14, 0);
        font-family: 'Gilroy';
        font-weight: 400;
        color: #fff;
        &--arrow{
            margin-right: 1.3em;
        }
    }
}

// page Footer
.footer{
    padding: 5em 0 1.25em 0;
    &__content{
        margin-right: -30px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 1px solid $darkgray;
    }
    &__item{
        margin: 1em 1.875em 0 0;
        min-width: 165px;
        max-width: 33.333%;
        flex: 1 0 calc(25% - 90px);
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        @include adaptiv-value(font-size, 18, 14, 0);
        font-family: 'Gilroy';
        font-weight: 400;
        & a{
            color: #000;
        }
    }
    &__title{
        padding-bottom: 10px;
        border-bottom: 1px solid #000;
        margin-bottom: 1.875em;

        @include adaptiv-value(font-size, 18, 12, 0);
        font-family: 'Gilroy';
        font-weight: 500;
        text-transform: uppercase;
    }
    &__link{
        margin-bottom: 1em;
        &--tel{
            margin-bottom: 1em; 
        }
        &--img{
            margin-right: 1.4em;
        }
    }
}

@import '_media.scss';